.git
.github
.gitignore
.dockerignore
.env
.env.example
.env.production.example
.idea
.vscode
node_modules
vendor
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
storage/*.key
storage/*.html
storage/pail
storage/dashboard.html
storage/dashboard.txt
storage/clockwork
storage/debugbar
public/build
public/storage
public/css
public/js
public/fonts
public/fonts-manifest.dev.json
public/hot
tests
README.md
Procfile
nixpacks.toml
